[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/manish-prajapati
[access "refs/for/refs/*"]
	read = group user/manish-prajapati
	push = group user/manish-prajapati
	label-Code-Review = -2..+2 group user/manish-prajapati
	label-Verified = -1..+1 group user/manish-prajapati
	rebase = group user/manish-prajapati
	removeReviewer = group user/manish-prajapati
	submit = group user/manish-prajapati
[access "refs/heads/*"]
	read = group user/manish-prajapati
	create = group user/manish-prajapati
	push = +force group user/manish-prajapati
	pushMerge = group user/manish-prajapati
[access "refs/tags/*"]
	push = +force group user/manish-prajapati
	pushTag = group user/manish-prajapati
	pushSignedTag = group user/manish-prajapati
